*, *:after, *:before {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-4 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-5 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-4 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-5 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 36px 16px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 144px;
    height: auto;
    background: linear-gradient(89.95deg, #DF776E 0.04%, #DF776E 0.04%, #EABCB4 0.05%, rgba(196, 38, 39, 0.523354) 47.38%, rgba(196, 38, 39, 0.523354) 47.39%, rgba(196, 38, 39, 0.523354) 47.4%, #D52F2B 99.95%);
  }
}

.container-item-1 {
  max-width: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

@media screen and (max-width: 960px) {
  .container-item-1 {
    max-width: 960px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.container-item-1 .item-2 p {
  color: #FFFFFF;
}

.container-item-2 {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-start {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w-auto {
  width: auto;
}

.bg-loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#060B2E), to(#1A3E8D));
  background: linear-gradient(180deg, #060B2E 0%, #1A3E8D 100%);
  overflow: hidden;
}

.bg-loader svg {
  max-width: 700px;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #FFFFFF;
  -webkit-animation: pulse 3s linear infinite;
          animation: pulse 3s linear infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    -webkit-box-shadow: 0 0 0 200px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 200px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 500px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 500px rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    -webkit-box-shadow: 0 0 0 200px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 200px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 500px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 500px rgba(255, 255, 255, 0);
  }
}

.bx {
  width: 40px;
  height: 40px;
  display: none;
  position: relative;
  cursor: pointer;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

@media screen and (max-width: 960px) {
  .bx {
    display: block;
  }
}

.bx::after {
  content: '';
  display: block;
  position: absolute;
  top: 33%;
  left: 12%;
  width: 75%;
  height: 2px;
  border-radius: 2px;
  background-color: #FAFAFA;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.bx::before {
  content: '';
  display: block;
  position: absolute;
  top: 57%;
  left: 12%;
  width: 75%;
  height: 2px;
  border-radius: 2px;
  background-color: #FAFAFA;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

#hamburguer:checked ~ label.bx:after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  width: 70%;
  height: 10%;
  top: 45%;
  left: 15%;
}

#hamburguer:checked ~ label.bx:before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  width: 70%;
  height: 10%;
  top: 45%;
  left: 15%;
}

.wandavision-desktop {
  position: relative;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

@media screen and (min-width: 1440px) {
  .wandavision-desktop {
    -webkit-transform: translate3d(-15px, 46px, 0px);
            transform: translate3d(-15px, 46px, 0px);
    width: 105%;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .wandavision-desktop {
    -webkit-transform: translate3d(32px, 70px, 0);
            transform: translate3d(32px, 70px, 0);
    width: 100%;
  }
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .wandavision-desktop {
    -webkit-transform: translate3d(-59px, 65px, 0);
            transform: translate3d(-59px, 65px, 0);
    width: 120%;
  }
}

@media screen and (max-width: 960px) {
  .wandavision-desktop {
    -webkit-transform: translate3d(-40px, 55px, 0);
            transform: translate3d(-40px, 55px, 0);
    width: 120%;
  }
}

.wandavision-mobile {
  display: none;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-video::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: linear-gradient(89.95deg, #DF776E 0.04%, #DF776E 0.04%, #EABCB4 0.05%, rgba(196, 38, 39, 0.523354) 47.38%, rgba(196, 38, 39, 0.523354) 47.39%, rgba(196, 38, 39, 0.523354) 47.4%, #D52F2B 99.95%);
}

@media screen and (max-width: 960px) {
  .bg-video::after {
    display: none;
  }
}

.video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

@media screen and (max-width: 960px) {
  .item-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 960px) {
  .item-3 a {
    margin: 10px 0;
  }
}

/* Make Video Responsive */
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* The Modal */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
}

.modal .modal-content {
  margin: auto;
  padding: 0;
  position: relative;
  border: 3px solid #EFD9D0;
  width: 80%;
  max-width: 600px;
}

/* Close Button */
.close {
  color: #C42627;
  background-color: #EFD9D0;
  border-radius: 20px;
  right: -48px;
  top: -3px;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  padding: 0px 12px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.close:hover, .close:focus {
  background-color: white;
  color: #ff0000;
  text-decoration: none;
  cursor: pointer !important;
}

body {
  width: 100%;
  height: 100vh;
}

img, svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #FAFAFA;
  cursor: pointer;
}

p {
  font-size: 14px;
  color: #C7C7C7;
  letter-spacing: 1px;
  line-height: 140%;
}

.spark {
  mix-blend-mode: screen;
}

header {
  width: 100%;
  position: fixed;
  z-index: 800;
  padding: 26px 0;
}

@media screen and (max-width: 960px) {
  header {
    background-color: #EFD9D0;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list li {
  margin-left: 24px;
}

@media screen and (max-width: 960px) {
  .nav-list {
    list-style-type: none;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 5;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: #EFD9D0;
  }
}

.logo-svg {
  width: 160px;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 200;
  padding: 8px 16px;
  color: #F5F5F5;
  text-transform: uppercase;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  position: relative;
}

.nav-link::after {
  content: '';
  display: block;
  position: absolute;
  top: -50px;
  left: 50%;
  margin-top: 8px;
  width: 2px;
  height: 0px;
  border-radius: 2px;
  -webkit-transform: translate3d(-15%, 0, 0);
          transform: translate3d(-15%, 0, 0);
  -webkit-transition: .7s ease;
  transition: .7s ease;
  background: linear-gradient(359.94deg, #E50B14 0.06%, rgba(225, 28, 33, 0) 101.91%);
}

.nav-link:hover {
  color: #FFFFFF;
  font-weight: bold;
}

.nav-link:hover::after {
  height: 40px;
}

@media screen and (max-width: 960px) {
  .nav-link {
    color: #C42627;
    text-align: center;
    margin: 15px auto;
  }
}

.nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 960px) {
  .nav-social {
    display: none;
  }
}

.nav-social svg {
  margin-left: 28px;
  width: 18px;
  color: #EFD9D0;
  cursor: pointer;
}

.nav-social svg path, .nav-social svg circle {
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.nav-social svg:hover path, .nav-social svg:hover circle {
  fill: #F74045;
  -webkit-transform: translate3d(0, -2px, 0);
          transform: translate3d(0, -2px, 0);
}

.btn-primary {
  display: inline-block;
  background: linear-gradient(267.72deg, #EABCB4 0.88%, #EFD9D0 100%);
  color: #C42627;
  border-radius: 3px;
  padding: 12px 32px;
  text-transform: uppercase;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  -webkit-transition: .7s ease;
  transition: .7s ease;
  position: relative;
}

.btn-primary::after {
  content: '';
  position: absolute;
  display: block;
  top: -2px;
  left: -2px;
  border-radius: 3px;
  opacity: 0;
  width: 20%;
  height: 70%;
  z-index: -1;
  border-top: 3px solid #C42627;
  border-left: 3px solid #C42627;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.btn-primary::before {
  content: '';
  position: absolute;
  display: block;
  bottom: -2px;
  right: -2px;
  border-radius: 3px;
  opacity: 0;
  width: 20%;
  height: 70%;
  z-index: -1;
  border-bottom: 3px solid #C42627;
  border-right: 3px solid #C42627;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.btn-primary:hover {
  -webkit-box-shadow: 0px 14px 85px rgba(240, 42, 47, 0.06), 0px 5.11023px 31.0264px rgba(240, 42, 47, 0.0413989), 0px 2.48092px 15.0627px rgba(240, 42, 47, 0.0333774), 0px 1.21619px 7.38404px rgba(240, 42, 47, 0.0266226), 0px 0.48089px 2.91966px rgba(240, 42, 47, 0.0186011);
          box-shadow: 0px 14px 85px rgba(240, 42, 47, 0.06), 0px 5.11023px 31.0264px rgba(240, 42, 47, 0.0413989), 0px 2.48092px 15.0627px rgba(240, 42, 47, 0.0333774), 0px 1.21619px 7.38404px rgba(240, 42, 47, 0.0266226), 0px 0.48089px 2.91966px rgba(240, 42, 47, 0.0186011);
  -webkit-transform: scale(1.05) skewX(-10deg);
          transform: scale(1.05) skewX(-10deg);
}

.btn-primary:hover::after {
  opacity: 1;
  top: -2px;
  left: -2px;
}

.btn-primary:hover::before {
  opacity: 1;
  bottom: -2px;
  right: -2px;
}

.btn-secondary {
  display: inline-block;
  background: transparent;
  border-radius: 3px;
  border: 2px solid #EFD9D0;
  padding: 10px 32px;
  text-transform: uppercase;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  -webkit-transition: .7s ease;
  transition: .7s ease;
  overflow: hidden;
  z-index: 700;
  position: relative;
}

.btn-secondary::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: -5px;
  background: linear-gradient(267.72deg, #EABCB4 0.88%, #EFD9D0 100%);
  border-radius: 3px;
  width: 0%;
  height: 110%;
  z-index: -1;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.btn-secondary:hover {
  -webkit-box-shadow: 0px 14px 85px rgba(240, 42, 47, 0.06), 0px 5.11023px 31.0264px rgba(240, 42, 47, 0.0413989), 0px 2.48092px 15.0627px rgba(240, 42, 47, 0.0333774), 0px 1.21619px 7.38404px rgba(240, 42, 47, 0.0266226), 0px 0.48089px 2.91966px rgba(240, 42, 47, 0.0186011);
          box-shadow: 0px 14px 85px rgba(240, 42, 47, 0.06), 0px 5.11023px 31.0264px rgba(240, 42, 47, 0.0413989), 0px 2.48092px 15.0627px rgba(240, 42, 47, 0.0333774), 0px 1.21619px 7.38404px rgba(240, 42, 47, 0.0266226), 0px 0.48089px 2.91966px rgba(240, 42, 47, 0.0186011);
  -webkit-transform: scale(1.05) skewX(-10deg);
          transform: scale(1.05) skewX(-10deg);
}

.btn-secondary:hover::after {
  opacity: 1;
  width: 120%;
}

.logo-spiderman {
  fill: transparent;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  -webkit-animation: logo-spiderman 12s ease infinite alternate;
          animation: logo-spiderman 12s ease infinite alternate;
}

.logo {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  transform-box: fill-box;
}

.logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes logo-spiderman {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 0.3;
    stroke-dasharray: 100 0;
    fill: transparent;
  }
  60%, 100% {
    stroke-width: 0;
    fill: #F5F5F5;
  }
}

@keyframes logo-spiderman {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 0.3;
    stroke-dasharray: 100 0;
    fill: transparent;
  }
  60%, 100% {
    stroke-width: 0;
    fill: #F5F5F5;
  }
}
/*# sourceMappingURL=style.css.map */