$primary: #C42627;
$primary-dark: #4A0A09;
$primary-light: #F74045;

$secondary: #EFD9D0;
$secondary-dark: #F1B9A2;
$secondary-light: #EABCB4;

$white: #FAFAFA; 
$white-dark: #F5F5F5;
$white-light: #FFFFFF;

$gray: #ADACAC;
$gray-dark: #968F8F;
$gray-light: #C7C7C7;